<div class="contact">
  <div class="contact-item">
    <div class="contact-icon"><i class="fas fa-envelope"></i></div>
    <div class="contact-content">{{ resume.basics.email | scramble }}</div>
  </div>
  <div class="contact-item">
    <div class="contact-icon"><i class="fas fa-phone"></i></div>
    <div class="contact-content">{{ resume.basics.phone | scramble }}</div>
  </div>
  <div class="contact-item">
    <div class="contact-icon"><i class="fas fa-location-arrow"></i></div>
    <div class="contact-content">{{ resume.basics.location.city }}, {{ resume.basics.location.region }}, {{ resume.basics.location.countryCode }}</div>
  </div>
</div>
