<!doctype html>
<html>
  <head>
  	<meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">

	  <title>{{ resume.basics.name }} - {{ resume.basics.label }}</title>
    <meta name="author" content="{{ resume.basics.name }}">
    <meta name="description" content="{{ resume.basics.summary | truncate(120) }}">

	  <link rel="stylesheet"
	        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
		      crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ assets_prefix }}style.css">
    <link rel="stylesheet" href="{{ assets_prefix }}fontawesome-free/css/all.min.css">
	</head>
	<body>
  	<div class="container">
    <div class="wrapper">
      {% include "header.j2" %}
      {% include "content.j2" %}
    </div>
	</body>
</html>
