<div class="sidebar">
  <h1>{{ resume.basics.name }}</h1>
  <h2>{{ resume.basics.label }}</h2>

  <div class="contact">
    <div class="contact-item">
      <div class="contact-icon"><i class="fas fa-envelope"></i></div>
      <div class="contact-content">{{ resume.basics.email }}</div>
    </div>
    <div class="contact-item">
      <div class="contact-icon"><i class="fas fa-phone"></i></div>
      <div class="contact-content">{{ resume.basics.phone }}</div>
    </div>
    <div class="contact-item">
      <div class="contact-icon"><i class="fas fa-location-arrow"></i></div>
      <div class="contact-content">{{ resume.basics.location.city }}, {{ resume.basics.location.region }}, {{ resume.basics.location.countryCode }}</div>
    </div>
    {% for profile in resume.basics.profiles %}
      <div class="contact-item">
        <div class="contact-icon"><i class="fab fa-{{ profile.network | lower }}"></i></div>
        <div class="contact-content">
          <span class="profile-network">{{ profile.network }}</span>
          <span class="profile-username">{{ profile.username }}</span>
          <span class="profile-url">{{ profile.url }}</span>
        </div>
      </div>
    {% endfor %}
  </div>

  <section id="skills" class="section">
    <div class="section-icon"><i class="fas fa-tools"></i></div>
    <h3 class="section-title">Skills</h3>
    <div class="section-content skills">
      {% for item in resume.skills %}
        <div class="list-item">
          <div class="list-title">{{ item.name }}</div>
          <div class="list-content">{{ item.keywords | join(", ") }}</div>
        </div>
      {% endfor %}
    </div>
  </section>

  {% if resume.interests %}
    <section id="interests" class="section">
      <div class="section-icon"><i class="fas fa-heart"></i></div>
      <h3 class="section-title">Interests</h3>
      <div class="section-content interests">
        {% for item in resume.interests %}
          <div class="list-item">
            <div class="list-title">{{ item.name }}</div>
            <div class="list-content">{{ item.keywords | join(", ") }}</div>
          </div>
        {% endfor %}
      </div>
    </section>
  {% endif %}
</div>
