body {
  color: #666;
}
h1 {
  color: #333;
  font-weight: 500;
}
h2 {
  color: #333;
  font-weight: 400;
}
h3 {
  color: #333;
  font-weight: 300;
}
h4 {
  color: #333;
  font-weight: 300;
}
h5 {
  color: #333;
  font-weight: 300;
}
strong {
  color: #333;
  font-weight: 500;
}

ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #ddd; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.content section .icon {
  float: left;
  width: 40px;
  font-size: 1.75em;
  line-height: 1.2;
}
.content section h3 {
  margin-left: 40px;
}
.content section > h3 + div {
  margin-left: 40px;
}

.network .name:after {
  content: ':';
}
.network .url {
  display: none;
}

@media print {
  .network .url {
    display: none;
  }
}

.container, .container-fluid {
  padding-top: 3em;
}

img.profile-pic {
  max-height: 128px;
}
section {
  padding-bottom: 2.5em;
}
section .label {
  text-align: right;
  padding-right: 2em;
}
section .label i {
  padding-right: 0.5em;
  display: none;
}

.item {
  padding-bottom: 0.5em;
}

.time {
  opacity: 0.7;
}
.website {
  opacity: 0.7;
}

.experience + .experience {
  padding-top: 2em;
}
#experience h4,
#experience h5,
#education h4,
#education h5 {
  font-weight: 500;
  height: 24px;
  position: relative;
}
#experience h5,
#education h5 {
  border-bottom: 1px solid #ddd;
}
#experience .company,
#experience .position,
#education .institution,
#education .area {
  font-size: 0.85em;
  position: absolute;
  left: 0;
}
#experience .time,
#experience .website,
#education .time {
  font-weight: normal;
  font-size: 14px;
  position: absolute;
  right: 0;
}
#experience ul {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
#experience li {
  padding-bottom: 0.5em;
}
#experience strong.detail {
  padding-top: 1em;
  display: block;
}
.experience {
  page-break-inside: avoid;
}
.skill .name {
  font-weight: bold;
}
.skill h5 {
  font-size: 1.1em;
  font-weight: 400;
}

@page {
  margin-top: 2.5cm;
  margin-bottom: 2.5cm;
}

