
body {
  color: #444;
  font-weight: 300;
  font-family: 'Lato', ;
  font-size: 15px;
  line-height: 1.6;
}

h1, h2, h3, h4, h5 {
  color: #333;
}
h1 {
  font-weight: 500;
}
h2 {
  font-weight: 400;
}
h3, h4, h5 {
  font-weight: 500;
}

@page {
  size: Letter;
  margin-top: 2cm;
  margin-bottom: 2cm;
}
.keep-together {
  page-break-inside: avoid;
}

.experience {
  page-break-inside: avoid;
}
#education,
.education {
  page-break-inside: avoid;
}
.section {
  padding-top: 1em;
}

ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #ddd; /* Change the color */
  /* font-weight: bold; *//*If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

/* ul {
  list-style: none;
} */
ul li {
  padding-bottom: 0.25em;
}

.content h4 {
  font-size: 1.25em;
  font-weight: 400;
}
.content h5 {
  font-size: 1.1em;
  font-weight: 350;
}

.wrapper {
  padding-right: 40px;
}

.header .contact {
  float: right;
  width: 220px;
}
.header .name {
  margin-right: 220px;
  padding-left: 40px;
}
.header {
  padding-bottom: 2.5em;
}

.contact-item {
  padding-bottom: 0.5em;
}
.contact-item .contact-icon {
  float: left;
  width: 40px;
}
.contact-item .contact-content {
  margin-left: 40px;
}

.profile-username {
  display: none;
  font-size: 0.9em;
}
.profile-url {
  /* display: none; */
  display: block;
  font-size: 0.9em;
}

.list-item {
  padding-bottom: 1em;
}
.list-title {
  font-weight: 600;
  padding-bottom: 0.25em;
}

#interests {
  page-break-before: always;
}

.section .section-icon {
  float: left;
  width: 40px;
}
.section .section-title,
.section .section-content {
  margin-left: 40px;
}
.section .section-icon,
.section .section-title {
  font-size: 24px;
  line-height: 1.2;
}
.section + .section {
  padding-top: 2em;
}
.section .section-title {
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ddd;
}

.experience-header .time,
.experience-header .website,
.education-header .time {
  float: right;
  width: 300px;
  text-align: right;
}
.experience-header h4,
.experience-header h5,
.education-header h4 {
  margin-right: 300px;
}

.experience {
  padding-bottom: 1em;
}
.experience + .experience {
  border-top: 1px solid #ddd;
  padding-top: 1em;
}

.time, .website {
  font-size: 0.9em;
}
.time {
  padding-top: 5px;
}

.summary {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.detail ul {
  padding-top: 0.5em;
}
